* {
	margin: 0;
	color: white;
}

body {
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

figure {
	position: fixed;
	display: flex;
	align-items: center;
	flex-direction: column;
}

figcaption {
	font-size: xx-large;
}

#heart {
	width: 50vmin;
	height: 50vmin;
}

#ecg {
	position: fixed;
	width: 100vw;
}